/* ************************** */
/* HEADER */
/* ************************** */
.icon-bar {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
}

/* Style the icon bar links */
.icon-bar a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
}

/* Style the social media icons with color, if you want */
.icon-bar a:hover {
  background-color: #000;
}

.facebook {
  background: #ec2a61;
  color: white;
}

.twitter {
  background: #55ACEE;
  color: white;
}

.google {
  background: #dd4b39;
  color: white;
}

.linkedin {
  background: #007bb5;
  color: white;
}

.youtube {
  background: #bb0000;
  color: white;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fdf2e9;

  /* Because we want the header to be sticky later (always be at the top), we have to give it a definite height */
  height: 9.6rem;

  padding: 0 4.8rem;
  position: relative;
}

.logo {
  height: 2.2rem;
}

/* ************************** */
/* NAVIGATION */
/* ************************** */

.main-nav-links {
  list-style-type: none;
  display: flex;
  gap: 4.8rem;
  display: flex;
  align-items: center;
}

.main-nav-link:visited,
.main-nav-link:link {
  display: inline-block;
  text-decoration: none;
  font-weight: 500;
  font-size: 1.8rem;
  color: #333;

  /* putting transitions */
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #cf711f;
}

/* FOR HIGHER SPECIFICITY and to make sure that the effects always apply */
/* REMEMBER!----no spaces between .main-nav-link.nav-cta */
.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  color: #fff;
  background-color: #e67e22;
}

.main-nav-link.nav-cta:active,
.main-nav-link.nav-cta:hover {
  background-color: #cf711f;
}

/* ************************** */
/* MOBILE SECTION */
/* ************************** */
.btn-mobile-nav {
  background-color: transparent;
  border: none;
  cursor: pointer;

  display: none;
}

.icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
  columns: #333;
}

.icon-mobile-nav[name="close-outline"] {
  display: none;
}

/* ************************** */
/* HERO SECTION */
/* ************************** */

.hero {
  max-width: 130rem;
  margin: 0 auto;
  /* to avoid the content from sticking at the side when viewboard size is changed, we will give it some padding */
  /* OR YOU COULD'VE ADDED THIS PADDING TO .section-hero also */
  padding: 0 3.2rem;
  display: grid;
  gap: 9.6rem;
  /* clockwise convention for each side */
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}

.section-hero {
  background-color: #fdf2e9;
  padding: 4.8rem 0 9.6rem 0;
}

.hero-img {
  width: 100%;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.5;
  margin-bottom: 4.8rem;
}

.delivered-meals {
  display: flex;
  margin-top: 8rem;
  align-items: center;
  gap: 1.6rem;
}

.delivered-imgs {
  display: flex;
}

.delivered-imgs img {
  height: 4.8rem;
  width: 4.8rem;
  border-radius: 50%;
  /* to overlap images, we need to work on them separately on each image */
  /* so to mke them overlap on the left side, we need to give them some negative margin on the right side so that the next iamges starts at the end of the previous one */
  margin-right: -1.6rem;
  /* but this will make the text start right after the last image ends and so, we wont add this margin to the last image and this can be removed using last-child pseudoclass */

  /* NOW ADDING BORDER AROUND THE IMAGES FOR VISIBILITY */
  border: 3px solid #fdf2e9;
}

.delivered-imgs img:last-child {
  margin: 0;
}

.delivered-text {
  font-size: 1.8rem;
  font-weight: 600;
}

.delivered-text span {
  color: #cf711f;
}

/* ************************** */
/* FEATURED SECTION */
/* ************************** */

.section-featured {
  padding: 4.8rem 0 3.2rem 0;
}

.heading-featured-in {
  font-size: 1.4rem;
  letter-spacing: 0.75px;
  text-transform: uppercase;
  font-weight: 500;
  text-align: center;
  margin-bottom: 2.4rem;
  color: #888;
}

.logos {
  display: flex;
  justify-content: space-around;
}

.logos img {
  height: 3.2rem;
  /* NOW TO TURN THE IMAGES GREY, WE USE CERTSIN PROPERTIES */
  /* VERY IMPORTANT PROPERTY */
  filter: brightness(0);
  opacity: 50%;
}

/* ************************** */
/* HOW IT WORKS SECTION */
/* ************************** */

.section-how {
  padding: 9.6rem 0;
}

.step-number {
  font-size: 8.6rem;
  font-weight: 600;
  color: #ddd;
  margin-bottom: 1.2rem;
}

.step-description {
  font-size: 1.8rem;
  line-height: 1.8;
}

.step-img-box {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

/* NOW TO ADD CIRCLES BEHIND THE IMAGE WE SHOULD USE PSEUDOELEMENTS AND TRY NOT TO POLLUTE OUT MARKUP */
/* AND also, pseudoelements cannot be added to images so we will add them to text and then position them behind images */

.step-img-box::before,
.step-img-box::after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* OUTER BIGGER CIRCLE */
.step-img-box::before {
  /* content: "";
  display: block;
  position: absolute; */
  /* height: 60%; */
  /* cannot do this so we look for a substitute */

  /* as padding in the all the directions is defined wrt to the parent's width */
  /* 60% of the parent's width */
  /* NOT padding:60% because that will be then all four sides */

  width: 60%;
  padding-bottom: 60%;
  background-color: #fdf2e9;
  z-index: -2;
}

/* SMALLER INNER CIRCLE */
.step-img-box::after {
  width: 45%;
  padding-bottom: 45%;
  background-color: #fae5d3;
  z-index: -1;
}

.step-img {
  width: 35%;
  /* z-index: 10; */
}

/* ************************** */
/* MEALS SECTION */
/* ************************** */

.section-meals {
  padding: 4.8rem 0 3.2rem 0;
}

.meal {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  border-radius: 11px;
  /* VERY IMPORTANT PROPERTY...TO HIDE EVERYTHING THAT OVERFLOWS THE(THIS) CONTAINER */
  overflow: hidden;
  /* OR YOU COULD'VE GIVEN THE SAME BORDER RADIUS ON TOP OF THE IMAGE AS: */
  /* border-top-radius:11px  to the image */
  transition: all 0.35s;
}

.meal:hover {
  transform: translateY(-20px);
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.06);
}

.meal-content {
  padding: 3.2rem 4.8rem 4.8rem 4.8rem;
}

.meal-tags {
  margin-bottom: 1.2rem;
  display: flex;
  gap: 0.4rem;
}

.tag {
  font-size: 1.2rem;
  display: inline-block;
  padding: 0.4rem 0.8rem;
  text-transform: uppercase;
  color: #333;
  border-radius: 100px;
  font-weight: 600;
}

.tag--vegetarian {
  background-color: #51cf66;
}
.tag--vegan {
  background-color: #94d82d;
}
.tag--paleo {
  background-color: #ffd43b;
}

.meal-title {
  font-size: 2.4rem;
  font-weight: 600;
  color: #333;
  margin-bottom: 3.2rem;
}

.meal-img {
  width: 100%;
}

.meal-attributes {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.meal-atttribute {
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.meal-icon {
  height: 2.4rem;
  width: 2.4rem;
  color: #e67e22;
}

.all-recipes {
  font-size: 1.8rem;
  text-align: center;
}

/* ************************** */
/* TESTIMONIAL SECTION */
/* ************************** */

.section-testimonials {
  /* padding: 1.6rem 3.2rem; */
  background-color: #fdf2e9;
  display: grid;
  grid-template-columns: 55fr 45fr;
  align-items: center;
}

.testimonial-container {
  padding: 9.6rem;
}

.testimonials {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 4.8rem;
  column-gap: 8rem;
}

.testimonial-img {
  width: 6.4rem;
  border-radius: 50%;
  margin-bottom: 1.2rem;
}

.testimonial-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 1.6rem;
}

.testimonial-name {
  font-size: 1.6rem;
  color: #6f6f6f;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;
  padding: 1.6rem;
}

.gallery-items {
  overflow: hidden;
}

.gallery-items img {
  display: block;
  /* to remove default horizontal spacing between them  */
  width: 100%;
  transition: all 0.2s;
}

.gallery-items img:hover {
  transform: scale(1.1);
}

/* ************************** */
/* PRICING SECTION */
/* ************************** */

.section-pricing {
  padding: 9.6rem 0;
}

.pricing-plan {
  background-color: #fdf2e9;
  border-radius: 11px;
  padding: 4.8rem;
  width: 75%;
}

.pricing-plan--starter {
  justify-self: end;
  background-color: transparent;
  /* border: 3px solid #fdf2e9; */
  /* TO AVOID PIXEL JUMP */
  box-shadow: inset 0 0 0 3px #fdf2e9;
  /* OR YOU CAN JUST ADD A REGULAR BORDER AND INSTEAD OF PADDING OF 4.8rem USE A PADDING OF 4.8-(border-width) */
  /* border: 3px solid #fdf2e9; */
  /* padding: 4.6rem */
}

.pricing-plan--complete {
  position: relative;
  overflow: hidden;
}

.pricing-plan--complete::before {
  position: absolute;
  top: 6%;
  right: -19%;
  color: #333;
  padding: 0.8rem 8rem;
  content: "best value";
  text-transform: uppercase;
  font-size: 1.4rem;
  background-color: #ffd43b;
  font-weight: 700;
  transform: rotate(45deg);
}

.plan-header {
  text-align: center;
  /* display: block; */
  margin-bottom: 4.8rem;
}
.plan-name {
  font-size: 2rem;
  font-weight: 600;
  color: #cf711f;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  margin-bottom: 3.2rem;
}
.plan-price {
  font-size: 6.2rem;
  font-weight: 600;
  color: #333;
  margin-bottom: 1.6rem;
}

.plan-price span {
  font-size: 3rem;
  font-weight: 500;
  margin-bottom: 0.8rm;
}

.plan-text {
  font-size: 1.6rem;
  line-height: 1.6;
  color: #6f6f6f;
}

.plan-sign-up {
  text-align: center;
  margin-top: 4.8rem;
}

.plan-details {
  font-size: 1.6rem;
  line-height: 1.6;
  text-align: center;
  /* we will make this also a grid so that this text also occupies the spacing on the bottom as others */
  /* DONE IN THE CONTAINER CLASS */
}

.featuere-icon {
  color: #e67e22;
  height: 3.2rem;
  width: 3.2em;
  margin-bottom: 3.2rem;
  background-color: #fdf2e9;
  padding: 1.6rem;
  border-radius: 50%;
}

.feature-title {
  font-size: 2.4rem;
  font-weight: 700;
  color: #333;
  margin-bottom: 1.6rem;
}
.feature-text {
  font-size: 1.8rem;
  line-height: 1.8;
}

/* ************************** */
/* CTA SECTION */
/* ************************** */

.section-cta {
  padding: 2.8rem 0 12.8rem 0;
}

.cta {
  display: grid;
  overflow: hidden;
  /* 2/3 = 66.6% and 1/3 = 33.3% */
  grid-template-columns: 2fr 1fr;
  /* background-color: #e67e22; */
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
  border-radius: 11px;
  background-image: linear-gradient(to right bottom, #eb984e, #e67e22);
  /* you can have the color gradient flow from any point by using angles 
  /* or you can also use english as: */
  /* to right, to bottom, to left top, to right top, etc */
}

.cta-text-box {
  color: #45260a;
  padding: 6.4rem;
  padding-top: 4.8rem;
}

.cta .heading-secondary {
  /* needs to be set individually because form element does not automatically inherit parent characteristics */
  /* color: #45260a; */
  /* OR */
  color: inherit;
  margin-bottom: 3.2rem;
}

.cta-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 4.8rem;
}

.cta-img-box {
  background-image: linear-gradient(
      to right bottom,
      rgba(235, 151, 78, 0.25),
      rgba(230, 125, 34, 0.25)
    ),
    url(../content/img/eating.jpg);
  /*  .. means go one level out of the current folder and then look for the image in that foder anywhere */
  /* to go two levels/folders out of the current folder, use, ../../ */
  background-size: cover;
  background-position: center;
}

.cta-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3.2rem;
  row-gap: 2.4rem;
}

.cta-form label {
  font-size: 1.6rem;
  font-weight: 500;
  display: block;
  margin-bottom: 1.2rem;
}
.cta-form input,
.cta-form select {
  width: 100%;
  padding: 1.2rem;
  font-size: 1.8rem;
  font-family: inherit;
  color: inherit;
  border: none;
  background-color: #fdf2e9;
  border-radius: 9px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.cta-form input::placeholder {
  color: #aaa;
}

.cta *:focus {
  outline: none;
  box-shadow: 0 0 0 0.8rem rgba(253, 242, 233, 0.5);
}

/* ************************** */
/* FOOTER */
/* ************************** */

footer {
  padding: 12.8rem 0;
  border-top: 1px solid #ddd;
}

.grid--footer {
  grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
}

.footer-heading {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 4rem;
}

.logo-col {
  display: flex;
  flex-direction: column;
}

.footer-logo {
  display: block;
  margin-bottom: 3.2rem;
}

.social-icons {
  height: 2.4rem;
  width: 2.4rem;
}

.copyright {
  font-size: 1.4rem;
  color: #767676;
  line-height: 1.6;
  margin-top: auto;
}

.social-links {
  list-style: none;
  display: flex;
  gap: 2.4rem;
}

.contacts {
  font-style: normal;
  font-size: 1.6rem;
  line-height: 1.6rem;
}

.address {
  margin-bottom: 2.4rem;
}

.footer-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.footer-link:link,
.footer-link:visited {
  font-size: 1.6rem;
  text-decoration: none;
  color: #767676;
  transition: all 0.3s;
}

.footer-link:hover,
.footer-link:active {
  color: #555;
}